In [7]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\anabo\appdata\local\programs\python\python312\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\anabo\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuraciones
# -----------------------------------------------------------------------

pd.set_option('display.max_columns', None) # Muestra todas las columnas de los DataFrame
pd.set_option('display.width', 1000) # Ajusta el ancho de la consola para evitar truncamientos

In [10]:
# Tratamos de crear la conexión con SQL. Usamos try/except para manejar los posibles errores.

config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'raise_on_warnings': True
}

# NOTA: No le paso como parámetro la base de datos precisamente porque la vamos a crear nosotras.

try:
  cnx = mysql.connector.connect(**config)

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Hay un problema con tu nombre de usuario o contraseña")
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("La base de datos no existe")
  
  else:
    print(err)

Creamos nuestra base de datos: cinemextract

In [11]:
# crear un cursor para poder ejecutar nuestras consultas 

mycursor = cnx.cursor()

# crear nuestra base de datos (schema)

try:
    mycursor.execute("CREATE DATABASE cinemextract")
    print(mycursor)

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'cinemextract'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'cinemextract'; database exists

Configuramos la conexión con la base de datos que acabamos de crear.

In [12]:
# Creamos la conexión con SQL a la base de datos que acabamos de crear. Usamos try/except para manejar los posibles errores.

config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database' : 'cinemextract',
  'raise_on_warnings': True
}

try:
  cnx = mysql.connector.connect(**config)
  print("Conexión establecida con cinemextract")

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Hay un problema con tu nombre de usuario o contraseña")
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("La base de datos no existe")
  
  else:
    print(err)

Conexión establecida con cinemextract

Creamos las tablas de nuestra base de datos.

Empezamos por pelicula_api

In [13]:

query_tabla_api = """CREATE TABLE pelicula_api (

    indice INT,	
    tipo VARCHAR(20), 
    titulo VARCHAR(250), 
    anyo INT, 
    genero VARCHAR(50),	 
    id_api INT,	
    id_owner VARCHAR(50))""" 

mycursor = cnx.cursor()


try:
    mycursor.execute(query_tabla_api)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'pelicula_api' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'pelicula_api' already exists

Creamos la tabla de datos peliculas_imdb

In [14]:
query_tabla_api = """CREATE TABLE peliculas_imdb (

    indice INT,	
    titulo VARCHAR(250),
    puntuacion_imdb FLOAT,
    direccion VARCHAR(200),
    guionistas VARCHAR(250),
    argumento TEXT,
    id_owner VARCHAR(50))""" 

mycursor = cnx.cursor()

try:
    mycursor.execute(query_tabla_api)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'peliculas_imdb' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'peliculas_imdb' already exists

Aquí hemos tenido que eliminar una columna de la tabla.

Creamos la tabla actores

In [16]:

query_tabla_api = """CREATE TABLE actores (

    indice INT,	
    nombre VARCHAR(200), 
    anyo INT,
    roles VARCHAR (200), 
    peliculas TEXT,
    premios TEXT)""" 


mycursor = cnx.cursor()


try:
    mycursor.execute(query_tabla_api)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'actores' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'actores' already exists

Modificamos la columna índice. La llamamos id_actor y en lugar de leer los índices del fichero (ahora ya no existen) será una clave auto incremental.

In [17]:
query_modificar_indice = """ALTER TABLE actores 
                            CHANGE indice id_actor INT NOT NULL AUTO_INCREMENT PRIMARY KEY""" 


try:
    mycursor.execute(query_modificar_indice)
    print("La columna indice ahora se llama id_actor y se genera automáticamente por sql")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1054 (42S22): Unknown column 'indice' in 'actores'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'indice' in 'actores'

In [18]:
# Confirmar los cambios
cnx.commit()

Creamos la tabla de los premios oscar.

In [19]:

query_tabla_api = """CREATE TABLE premios_oscar (

    anyo_ceremonia INT,	
    mejor_pelicula TEXT, 
    mejor_director VARCHAR(250),
    mejor_actor VARCHAR(250),
    mejor_actriz VARCHAR(250))""" 


mycursor = cnx.cursor()


try:
    mycursor.execute(query_tabla_api)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'premios_oscar' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'premios_oscar' already exists

Ojo. Modificamos el nombre de una tabla porque tenía una errata.

In [20]:
# insertar valores en cada una de las tablas. Empezamos por pelicula_api, que ha sido mal llamada porque en reaidad era peliculas_api, así que antes de nada la renombro.

query_rename = "ALTER TABLE pelicula_api RENAME peliculas_api"

try:
    mycursor.execute(query_rename)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'peliculas_api' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'peliculas_api' already exists

Ya hemos creado nuestras cuatro tablas. Ahora toca insertar los datos de nuestros ficheros .csv

Empezamos por la tabla de los premios oscar.

In [21]:

# Crear un cursor para ejecutar los queries
mycursor = cnx.cursor()

df = pd.read_csv('tabla_oscar_archivo.csv')

# Creamos las variables sql y val, que serán los parámetros que recibirá nuestro cursor para insertar múltiples registros

sql = "INSERT INTO premios_oscar (anyo_ceremonia, mejor_pelicula, mejor_director, mejor_actor, mejor_actriz) VALUES (%s, %s, %s, %s, %s)"
val = df.values.tolist()   # Convierto el DataFrame a lista de listas, porque aqui no se pueden indicar a "cholon" todos los datos uno a uno.
                          # el .values devuelve las tuplas y .tolist lo pasa a una lista, por lo que ya tengo una lista de tuplas

# print(val)

try:
  # Insertar los datos en la base de datos
  mycursor.executemany(sql, val)
  cnx.commit() # Guardar los cambios y cerrar la conexión
  print(mycursor.rowcount, "registro/s insertado/s")

except mysql.connector.Error as err:
  print(err)
  print("Error Code:", err.errno)
  print("SQLSTATE", err.sqlstate)
  print("Message", err.msg)

25 registro/s insertado/s

Seguimos con la tabla de los actores. Introducimos los datos del csv.

In [25]:
df = pd.read_csv("data_actores 1995_2000.csv")     # Creo un dataframe a partir del .csv

# Creamos las variables sql y val, que serán los parámetros que recibirá nuestro cursor para insertar múltiples registros

sql_actores = "INSERT INTO actores (nombre, anyo, roles, peliculas, premios) VALUES (%s, %s, %s, %s, %s)"
val = df.values.tolist()   # Convierto el DataFrame a lista de listas. El .values devuelve las tuplas y .tolist lo pasa a una lista.

try:
  # Insertar los datos en la base de datos
  mycursor.executemany(sql_actores, val)
  cnx.commit() # Guardar los cambios 
  print(mycursor.rowcount, "registro/s insertado/s")

except mysql.connector.Error as err:
  print(err)
  print("Error Code:", err.errno)
  print("SQLSTATE", err.sqlstate)
  print("Message", err.msg)

2175 registro/s insertado/s

Interesante por seguir aprendiendo.

In [26]:

# # Y finalmente cerrar la conexión.

cnx.close()